# Miscellaneous
.idea/
backend/node_modules
mean-stack-demo-app/node_modules
package.json
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.

# Web related

# Exceptions to above rules.
